@use '@scss/variables.scss' as *;
@use '@scss/_mixins.scss' as *;

.wrapper {
	margin-left: 107px;

	@media screen and (width <= 768px) {
		margin: auto;
		max-width: 420px;
	}
}

.title {
	@media screen and (width <= 768px) {
		display: flex;
		justify-content: space-between;
		margin-bottom: 28px;
	}
}

.title__text {
	color: $active-text-color;
	margin-bottom: 50px;

	@media screen and (width <= 768px) {
		margin-bottom: 0;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@media screen and (width <= 768px) {
		gap: 16px;
	}
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.buttons {
	display: flex;
	gap: 40px;

	@media screen and (width <= 768px) {
		justify-content: space-between;
	}
}

.button {
	padding: 8px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 16px;
	font-size: 18px;
	font-family: $ubuntu-font;
	line-height: 1.4;
	cursor: pointer;

	@media screen and (width<=768px) {
		font-size: 13px;
	}
}

.button__safe {
	color: #fff;
	background: $form-button-color;
}

.button__safe:disabled {
	cursor: default;
	background: $accent-color-lightest-green;
	user-select: none;
	pointer-events: none;
}

.button__cancel {
	background: $gray-button;
	color: $active-text-color;
}
