@use '@scss/mixins' as *;
@use '@scss/base.scss' as *;

.navigation__iconsContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	:hover {
		opacity: 0.5;
		transition: opacity 0.5s ease-in-out;
		cursor: pointer;
	}
}

.navigation__icon {
	@extend %header-icon;

	border: none;
	background-color: white;
	background-position: center;
}

// Делаем неактивными для демонстрации приложения
.navigation__icon_search {
	display: none;
	background-image: url('@images/search_icon.svg');
}

.navigation__icon_busket {
	background-image: url('@images/shopping_busket_icon.svg');

	@media screen and (width < 768px) {
		display: none;
	}
}

.navigation__icon_profile {
	background-image: url('@images/profile_icon.svg');
}
