.item {
	width: 676px;
	max-width: 676px;
	display: flex;
	flex-direction: row;
	gap: 38px;
	align-items: center;
	font-family: inherit;
	line-height: 140%;
	font-style: normal;
	font-weight: 400;
	padding: 8px 16px;
	box-sizing: border-box;

	@media screen and (width <= 768px) {
		max-width: 100%;
		width: 100%;
		padding: 8px 4px;
		font-size: 14px;
		font-weight: 500;
	}
}

.item__image {
	border-radius: 16px;
	object-fit: contain;
	width: 74px;
	height: 74px;

	@media screen and (width <= 768px) {
		width: 45px;
		height: 45px;
		border-radius: 4px;
	}
}

.item__title-container {
	max-width: 153px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.item__title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-wrap: break-word;
}

.item__weight {
	max-width: 161px;
	width: 100%;
	border: 1px solid #cfcfcf;
	border-radius: 8px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0;

	@media screen and (width <= 768px) {
		max-width: 100px;
		padding: 4px 8px;
		border-radius: 4px;
	}
}

.item__container {
	display: flex;
	gap: 38px;
	width: 100%;

	@media screen and (width <= 768px) {
		max-width: 100px;
		flex-direction: column;
		gap: 4px;
		justify-content: center;
		padding: 0;
	}
}

.item_btn {
	all: unset;
	content: '';
	cursor: pointer;
	background-size: 24px 24px;
	width: 25px;
	height: 24px;
	background-position: center center;
	background-repeat: no-repeat;

	:hover {
		opacity: 0.5;
		transition: opacity 0.5s ease-in-out;
	}

	@media screen and (width <= 768px) {
		width: 12px;
		height: 12px;
	}
}

.item__delete_btn {
	background: url('@images/delete_button.svg');
	width: 35px;

	@media screen and (width <= 768px) {
		display: none;
		visibility: hidden;
	}
}

.item__decrease_btn {
	background: url('@images/minus_button.svg');

	@media screen and (width <= 768px) {
		background: url('@images/decrease_btn_small.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
}

.item__increase_btn {
	background: url('@images/plus_button.svg');

	@media screen and (width <= 768px) {
		background: url('@images/plus_btn_small.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
}

.item__measure {
	@media screen and (width <= 768px) {
		font-family: inherit;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
	}
}

.item__price {
	width: 100%;
	max-width: 100px;
}

.item__link {
	text-decoration: none;
}
