@use '@scss/variables.scss' as *;

.item {
	padding: 8px 16px;
	display: flex;
	flex-direction: row;
	gap: 38px;
	align-items: center;
	font-family: $ubuntu-font;
	color: $active-text-color;
	font-size: 20px;
	font-weight: 400;

	@media screen and (width <= 1024px) {
		padding: 8px 4px;
		gap: 25px;
	}
}

.item__title {
	padding: 0;
	margin: 0;
	line-height: 140%;

	@media screen and (width <= 768px) {
		font-size: 14px;
		font-weight: 500;
	}
}

.item__image {
	border-radius: 16px;
	object-fit: contain;
	width: 74px;
	aspect-ratio: 1;

	@media screen and (width <= 768px) {
		width: 45px;
		border-radius: 4px;
	}
}

.item__weight {
	border: 1px solid #cfcfcf;
	border-radius: 8px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 16px;
	padding: 10px 16px;

	@media screen and (width <= 768px) {
		gap: 8px;
		padding: 4px 14px;
		border-radius: 4px;
	}
}

.item__container {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 38px;

	@media screen and (width <= 480px) {
		flex-grow: unset;
		max-width: 100px;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
	}
}

.item_btn {
	width: 24px;
	aspect-ratio: 1;
	box-shadow: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.5s ease-in-out;

	:hover {
		opacity: 0.5;
	}

	@media screen and (width <= 768px) {
		width: 12px;
	}
}

.item__delete_btn {
	background-image: url('@images/delete_button.svg');

	@media screen and (width <= 1024px) {
		display: none;
	}
}

.item__decrease_btn {
	background-image: url('@images/minus_button.svg');
}

.item__increase_btn {
	background-image: url('@images/plus_button.svg');
}

.item__measure {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;

	@media screen and (width <= 768px) {
		font-size: 12px;
	}
}

.item__price {
	padding: 0;
	margin: 0;
	min-width: 100px;
	line-height: 140%;
	text-align: right;

	@media screen and (width <= 768px) {
		min-width: 80px;
		font-size: 15px;
		font-weight: 700;
	}

	@media screen and (width <= 480px) {
		flex-grow: 1;
		justify-self: end;
	}
}

.item__link {
	flex-grow: 1;
	text-decoration: none;
	color: $active-text-color;

	@media screen and (width <= 480px) {
		flex-grow: unset;
	}
}
