@use '@scss/_variables.scss' as *;
@use '@scss/_mixins' as *;

.green-button {
	padding: 0;
	display: flex;
	width: 161px;
	height: 36px;
	justify-content: center;
	align-items: center;
	background: $accent-color-dirty-green;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-family: $ubuntu-font;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	cursor: pointer;

	&:hover {
		background: $accent-color-bright-green;
	}

	transition: 0.5s;
}

.green-button__active {
	background: $accent-color-darkgreen;
}

.header-button {
	@extend %zero-padding-margin;

	display: flex;
	height: 36px;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	color: #1a1a1a;
	border-radius: 8px;
	border: 1px solid var(--primary-700, #2b7a0f);

	/* text */
	font-family: $ubuntu-font;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 140%;

	&:hover {
		background: $accent-color-bright-green;
	}

	&:active {
		background: $accent-color-darkgreen;
	}
}

.greenish-button {
	@extend %zero-padding-margin;

	border: none;
	display: flex;
	max-width: 300px;
	width: fit-content;
	height: 40px;
	padding: 8px 12px;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	background: #fff;

	/* text */
	font-family: $ubuntu-font;
	font-size: 18px;
	font-weight: 400;
	line-height: 140%;
	color: #000;

	&:not(.greenish-button__active):hover {
		color: #000;
		background: $light-background-color;
	}

	transition: 0.5s;
}

.greenish-button__active {
	color: #fff;
	background: $dirty-greenish-color;
}
