@use '@scss/variables' as *;
@use '@scss/mixins' as *;

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.cart {
	margin: 0;
	padding: 0 128px;
	display: flex;
	flex-direction: column;

	@media screen and (width <= 768px) {
		padding: 0 20px;
	}
}

.details {
	opacity: 0;
	transform: translateY(20px);
}

.details-active {
	animation: fade-in 0.5s ease-in-out;
	opacity: 1;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	gap: 20px;

	@media screen and (width <= 1200px) {
		flex-direction: column;
	}
}

.cart__recomendation {
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media screen and (width <= 768px) {
		padding-top: 51px;
		gap: 16px;
		font-family: inherit;

		.cart__title {
			/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
			font-family: Ubuntu;
			font-size: 15px;
			font-style: normal;
			font-weight: 700;
		}
	}
}

.cart__advertisement {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, minmax(230px, 1fr));
	gap: 20px;

	// NOTE: Filtering only 1st 3 children to render
	:nth-child(n + 4) {
		display: none;
	}

	@media screen and (width <= 1024px) {
		grid-template-columns: repeat(2, minmax(138px, 1fr));
		gap: 4px;

		:nth-child(n + 4) {
			display: block;
		}
	}

	@media screen and (width <= 320px) {
		grid-template-columns: repeat(1, minmax(138px, 1fr));
	}
}

.products__title {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.products {
	width: 100%;
	display: flex;
	gap: 48px;
	flex-direction: column;
	min-height: 200px;
}

.products__title_mob {
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	@media screen and (width <= 768px) {
		/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
		font-family: $ubuntu-font;
		font-size: 15px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%;
	}
}

.details__form {
	box-sizing: border-box;
	width: 328px;
	border: 1px solid #6c6c6c;
	border-radius: 16px;
	padding: 12px 16px;
	display: flex;
	flex-direction: column;
	gap: 28px;

	@media screen and (width <= 1200px) {
		width: 100%;
		min-width: 240px;
	}

	@media screen and (width <= 768px) {
		padding: 12px 8px;
		gap: 20px;
	}
}

.details__order {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.details__sum {
	padding: 0 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: $ubuntu-font;
	font-size: 22px;
	font-weight: 500;
	line-height: 140%;

	@media screen and (width <= 768px) {
		font-size: 15px;
		font-weight: 700;
	}
}

.products__btn {
	all: unset;
	margin: 0;
	padding: 0;
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: Ubuntu;
	font-size: 18px;
	color: $green-primary-700;
	font-weight: 400;
	line-height: 140%;
	cursor: pointer;

	&:hover {
		color: $accent-color-bright-green;
		transition: color 0.2s ease-in-out;
	}

	&:disabled {
		color: $gray-button;
		cursor: default;
	}

	@media screen and (width <= 768px) {
		font-size: 13px;
		color: $green-primary-700;
	}
}

.details__title {
	@extend %zero-padding-margin;

	font-family: $work-sans-font;
	font-size: 11px;
}
