@use '@scss/mixins' as *;
@use '@scss/_variables' as *;

.our-blog {
	width: 100%;
}

.link {
	padding-bottom: 28px;

	@media screen and (width <= 768px) {
		padding-bottom: 8px;
	}
}

.our-blog__topic-list {
	display: flex;
	justify-content: center;
	gap: 20px;
	width: 100%;
	overflow-x: auto;

	@media screen and (width <= 768px) {
		justify-content: space-between;
		gap: 4px;
	}
}
