.container {
	width: 80%;
	margin: 0 auto;

	@media screen and (width <= 768px) {
		width: calc(100% - 2 * 20px);
	}
}

.wrapper {
	display: flex;
	padding-top: 52px;

	@media screen and (width <= 768px) {
		padding-top: 4px;
	}
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.content {
	flex-grow: 1;
}

.display {
	@media screen and (width <= 768px) {
		display: none;
	}
}
