.card {
	list-style: none;
	min-height: 380px;
	min-width: 328px;
	cursor: pointer;
}

.card__link {
	color: #fff;
	width: 100%;
	height: 100%;
}

.card__image-container {
	position: relative;
	margin: 0;
	line-height: 0;
	width: 100%;
	height: 100%;
}

.card__image-container::before {
	content: '';
	z-index: 10;
	border-radius: 16px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	position: absolute;
	background: linear-gradient(1deg, #3d3a3a 17.79%, rgb(255 255 255 / 0%) 57.54%);
	margin: 0;
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.card__text-container {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 20px;
	max-width: 288px;
	font-family: Ubuntu, Arial, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__date {
	padding: 232px 0 0;
	margin: 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 140%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card__title {
	padding: 5px 0 0;
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	line-height: 140%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card__description {
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	line-height: 140%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
