@use '@scss/mixins' as *;
@use '@scss/_variables' as *;

.popup {
	display: none;
}

.popup__open {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgb(3 3 3 / 60%);
	backdrop-filter: blur(10px);
	z-index: 1111;
	top: 0;
	left: 0;
}

.popup__inner {
	max-width: calc(100% - 40px);
	max-height: calc(100% - 40px);
	overflow-y: auto;
	position: relative;
	border-radius: 16px;
	background-color: white;
	height: fit-content;
	box-sizing: border-box;
	box-shadow: 0 0 50px rgb(255 255 255 / 73%);
	width: fit-content;
	scrollbar-width: thin;
	scrollbar-color: $unactive-text-color $accent-color-lightest-green;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $accent-color-lightest-green;
		border-radius: 16px;
	}
}

.popup__button {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	fill: var(--inactive, #b8b8b8);
	background-image: url('@images/button-close-popup.svg');
	background-position: center;
	border: none;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 50%;

	&:hover {
		opacity: 0.7;
	}

	@media screen and (width < 768px) {
		width: 20px;
		height: 20px;
	}
}
