@use '@scss/variables.scss' as *;
@use '@scss/_mixins.scss' as *;

.popup-recipe {
	box-sizing: border-box;
	padding: 40px 65px;
	font-family: $ubuntu-font;
	color: $active-text-color;

	&__title {
		margin-bottom: 62px;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 24px;
		align-items: start;
	}
}
