@use '@scss/_variables.scss' as *;
@use '@scss/_mixins' as *;

.navigation {
	display: flex;
	gap: 44px;
}

.navigation__list {
	@extend %zero-padding-margin;

	display: flex;
	gap: 20px;
	cursor: pointer;
	align-items: center;
}

.navigation__item {
	color: #1a1a1a;
	text-align: center;
	font-family: $ubuntu-font;
	font-size: 22px;
	font-weight: 500;
	line-height: 140%;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		opacity: 0.5;
		transition: opacity 0.5s ease-in-out;
	}
}
