@use '@scss/_variables.scss' as *;

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.product {
	padding: 50px 0;
	margin: 0 auto;
	width: calc(100% - 129px * 2);
	height: 100%;
	display: flex;
	gap: 28px;
	flex-direction: column;
	justify-content: center;

	@media screen and (max-width: 768px) {
			padding: 0;
			min-width: 90%;
	}
}

.product__section {
	opacity: 0;
	transform: translateY(20px);
}

.product__section-active {
	animation: fade-in 0.5s ease-in-out;
	opacity: 1;
	transform: translateY(0);
}

.product__main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
			flex-wrap: wrap;
			flex-direction: column-reverse;
	}
}

.product__info {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 28px;

	@media screen and (max-width: 768px) {
			margin-top: 16px;
			gap: 20px;
		}
}

.product__title {
	font-size: 36px;

	@media screen and (max-width: 768px) {
			font-size: 24px;
	}
}

.product__details {
	display: flex;
	align-items: center;
	gap: 20px;
	color: var(--active, #1a1a1a);
	font-family: $ubuntu-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
}

.product__rating {
	display: flex;
	align-items: center;
}

.product__ratingValue {
	font-size: 20px;
	margin: 0 0 0 5px;

	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

.product__ratingStar {
	@media screen and (max-width: 768px) {
		width: 16px;
		margin-bottom: 2px;
  }
}

.product__reviews {
	color: var(--hint, #2180b6);
	font-size: 18px;
	margin: 0;

	@media screen and (max-width: 768px) {
		font-size: 13px;
	}
}

.product__container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.product__price {
	@media screen and (max-width: 768px) {
		font-size: 18px;
	}
}

.product__text {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;

	@media screen and (max-width: 768px) {
		font-size: 10px;
	}
}


.product__btns {
	display: flex;
	gap: 28px;
	align-items: center;
}

.product__description {
	text-align: left;
	max-width: 592px;
	width: 100%;
	font-weight: 400;
}

.product__image {
	max-width: 415px;
	width: 100%;
	max-height: 232px;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
	object-position: center;
	background-repeat: no-repeat;
	box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 51%);

	@media screen and (max-width: 768px) {
		box-shadow: none;
	}
}

.product__subinfo {
	margin-top: 28px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	justify-content: center;
	align-items: flex-start;
}

.product__addition {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.product__table {
	display: flex;
	gap: 12px;
	border-radius: 16px;
	border: 1px solid $unactive-text-color;
	justify-content: center;
	align-items: center;
	padding: 16px 12px;
	text-align: center;

	@media screen and (max-width: 768px) {
		margin-top: 8px;
		padding: 8px 12px;
		gap: 9.5px;
	}
}

.border_vertical {
	content: '';
	width: 1px;
	height: 45px;
	margin: 0;
	padding: 0;
	background-color: #cfcfcf;
}

