@use '@scss/variables.scss' as *;
@use '@scss/_mixins.scss' as *;

.wrapper {
	position: relative;
}

.input {
	box-sizing: border-box;
	width: 100%;
	color: $active-text-color;
	font-size: 20px;
	font-family: $ubuntu-font;
	padding: 18px 16px;
	border: 1px solid $footer-background-color;
	border-radius: 16px;
	box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 2%);
	transition: border 0.2s;
}

.input:focus {
	border: 1px solid $green-primary-700;
	outline-style: none;
}

.input::placeholder {
	color: $unactive-text-color;
}

.buttons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.button {
	@extend %zero-padding-margin;

	background: transparent;
	border: none;
	aspect-ratio: 1 / 1;
	cursor: pointer;
}
