@use '@scss/mixins' as *;
@use '@scss/variables' as *;

.order {
	margin: 0 auto;
	width: calc(100% - 128px * 2);
	padding-top: 148px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (width <= 768px) {
		width: calc(100% - 20px * 2);
		padding-top: 20px;
	}
}

.details {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 87px;
	margin: 0 auto;

	@media screen and (width <= 768px) {
		flex-direction: column;
		gap: 19px;
		justify-content: center;
	}
}

.execution {
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	@media screen and (width <= 768px) {
		gap: 28px;
	}
}

.summary {
	display: flex;
	flex-direction: column;
	gap: 28px;
	max-width: 328px;
	width: 100%;
	border: 1px solid #1a1a1a;
	border-radius: 16px;
	padding: 12px 16px;
	max-height: 633px;
	height: 100%;

	@media screen and (width <= 768px) {
		padding: 12px 8px;
		max-width: calc(100% - 16px);
		gap: 20px;
	}
}

.pricelist {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media screen and (width <= 768px) {
		gap: 8px;
	}
}

.pricelist__divider {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #1a1a1a;
}

.summary__prices {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.pricelist__item {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	p {
		@extend %text;

		font-size: 20px;

		@media screen and (width <= 768px) {
			font-size: 14px;
			font-style: normal;
		}
	}
}

.pricelist__price {
	@extend %text;

	font-size: 20px;

	@media scren and (width <= 768px) {
		font-weight: 500;
	}
}

.summary__title {
	@media screen and (width <= 768px) {
		font-size: 12px;
		font-style: normal;
	}
}

.summary__promo {
	border: 1px solid #e5e5e5;
	border-radius: 16px;
	padding: 12px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	@media screen and (width <= 768px) {
		gap: 8px;
	}
}

.summary__sale {
	max-height: 56px;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	position: relative;
	height: 37px;
}

.summary__input_type_sale {
	all: unset;

	@extend %text;

	margin: 0;
	background-color: #e5e5e5;
	padding: 4px 8px;
	height: calc(100% - 8px);
	font-family: $ubuntu-font;
	font-size: 20px;
	border-radius: 8px 16px 16px 8px;
	max-height: 56px;
	width: calc(100% - 16px);
}

.summary__btn_type_submit {
	all: unset;

	@extend %text;

	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	font-family: $ubuntu-font;
	font-size: 18px;
	border-radius: 16px;
	padding: 8px 16px;
	color: white;
	background-color: #328c12;
	cursor: pointer;

	:hover {
		opacity: 0.5;
		transition: opacity 0.5s ease-in-out;
	}
}

.execution__combobox {
	all: unset;

	@extend %text;

	font-family: $ubuntu-font;
	font-size: 20px;
	max-width: 609px;
	width: 100%;
	padding: 12px 16px;
	border-radius: 16px;
	border: 1px solid #6c6c6c;
	background-color: #f0f0f0;
	cursor: pointer;
	appearance: none;
	background-image: url('@images/bottom_arrow.svg');
	background-size: 0.6em;
	background-position: calc(100% - 1.3em) center;
	background-repeat: no-repeat;

	@media screen and (width <= 768px) {
		padding: 4px 8px;
		max-width: calc(100% - 16px);
		background-position: calc(100% - 0.7em) center;
		width: calc(100% - 16px);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		border-radius: 8px;
	}
}

.execution__title_mob {
	@media screen and (width <= 768px) {
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
	}
}

.execution__combobox::-ms-expand {
	display: none;
}

.execution__form {
	display: flex;
	gap: 40px;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	@media screen and (width <= 768px) {
		gap: 28px;
	}
}

.execution__address {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.execution__comment {
	all: unset;
	cursor: pointer;
	width: calc(100% - 16px * 2);
	max-height: 120px;
	height: 120px;
	border: 1px solid #b8b8b8;
	border-radius: 16px;

	@extend %text;

	font-family: $ubuntu-font;
	font-size: 20px;
	padding: 12px 16px;

	@media screen and (width <= 768px) {
		border-radius: 8px;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
	}
}

.execution__delivery {
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	width: 100%;
}

.execution__date {
	all: unset;

	@extend %text;

	font-family: $ubuntu-font;
	font-size: 20px;
	width: 100px;
	color: #328c12;
	cursor: pointer;
	appearance: none;
	background-image: url('@images/bottom_arrow.svg');
	background-size: 12px 10px;
	background-position: right;
	background-repeat: no-repeat;

	@media screen and (width <= 768px) {
		font-size: 14px;
		font-weight: 500;
		max-width: 90px;
		width: 80px;
	}
}

.execution__tab {
	border: 1px solid #6c6c6c;
	border-radius: 16px;
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media screen and (width <= 768px) {
		border: none;
		border-radius: 0;
		gap: 8px;
		padding: 4px 0;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
	}
}

.execution__container {
	display: flex;
	width: 100%;
	gap: 4px;
	align-items: center;
}

.execution__tab_time {
	width: 609px;

	@media screen and (width <= 768px) {
		width: calc(100% - 8px);
	}
}

.execution__input {
	max-width: 292px;
	width: 292px;
	all: unset;
	padding: 10px 14px;
	border: 1px solid #6c6c6c;
	border-radius: 16px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;

	@media screen and (width <= 768px) {
		width: calc(100% - 28px);
	}
}

.execution__input_label {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
}

.execution__sublabel {
	@extend %text;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;

	@media screen and (width <= 768px) {
		font-size: 10px;
		font-weight: 300;
	}
}

.execution__contacts {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.execution__inputs {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 12px;

	@media screen and (width <= 768px) {
		flex-direction: column;
		gap: 8px;
	}
}

.execution___input_filled {
	background-color: #f0f0f0;
	max-width: 292px;
	width: 292px;

	@media screen and (width <= 768px) {
		width: calc(100% - 28px);
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
	}
}

/* stylelint-disable-next-line selector-attribute-quotes */
.execution__form input[type='radio'] {
	display: none;
}

.execution__item {
	display: inline-block;
	cursor: pointer;
	position: relative;
	line-height: 18px;
	user-select: none;
}

.execution__item label::after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid black;
	cursor: pointer;

	@media screen and (width <= 768px) {
		width: 10px;
		height: 10px;
	}
}

/* stylelint-disable-next-line selector-attribute-quotes */
.execution__item input[type='radio']:checked + label::after {
	background: url('@images/Radio_button.svg');
	background-position: center;
	background-size: 16px;
	background-repeat: no-repeat;
	border: 1px solid #285718;
	width: 16px;
	height: 16px;

	@media screen and (width <= 768px) {
		width: 10px;
		height: 10px;
		background-size: 10px;
		/* stylelint-disable-next-line declaration-block-no-shorthand-property-overrides */
		background: none;
		background-color: #285718;
	}
}

/* stylelint-disable-next-line no-descending-specificity */
.execution__item label:hover::after {
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}

/* stylelint-disable-next-line selector-attribute-quotes */
.execution__item input[type='radio']:disabled + label::after {
	opacity: 0.5;
	transition: opacity 0.5s ease-in-out;
}

.orderse {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media screen and (width <= 768px) {
		max-width: 280px;
	}
}

.orderse__title {
	@extend %zero-padding-margin;

	font-family: $work-sans-font;
	font-size: 11px;

	@media screen and (width <= 768px) {
		font-size: 10px;
	}
}

.orderse__buttonStyle {
	padding: 0;
	display: flex;
	width: 161px;
	height: 36px;
	justify-content: center;
	align-items: center;
	background: $accent-color-dirty-green;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-family: $ubuntu-font;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	cursor: pointer;

	&:hover {
		background: $accent-color-bright-green;
	}

	transition: 0.5s;

	&:disabled {
		background-color: $accent-color-lightest-green;
		cursor: initial;
	}
}

.orderse__buttonStyle_error {
	user-select: none;
	pointer-events: none;
	background: #c3e4b6;
}
