.container {
	padding-bottom: 16px;
	display: flex;
	gap: 5px;
	transition: 0.2s;
	max-width: max-content;

	@media screen and (width <= 768px) {
		padding-bottom: 18px;
	}

	&:hover {
		cursor: pointer;
		opacity: 0.7;
	}
}

.stack {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, minmax(138px, 1fr));
	gap: 20px;

	@media screen and (width <= 768px) {
		margin: 0 -20px;
		padding: 0 20px;
		gap: 4px;
		overflow-x: auto;
	}
}
