@use '../../../scss/variables.scss' as *;
@use '../../../scss/_mixins.scss' as *;

.container {
	width: 100%;
	max-width: 534px;
	padding: 40px 72px;
	text-align: center;
}

.title {
	margin: 54px 10px 40px;
}

.text {
	margin-bottom: 54px;
	font-family: $ubuntu-font;
	font-size: 20px;
	line-height: 1.4;
	color: $active-text-color;
}
