.products {
	max-width: 676px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-content: center;
	align-items: center;

	@media screen and (width <= 768px) {
		max-width: 100%;
		width: 100%;
		gap: 16px;
	}
}
