@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.order {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.order__title {
	@extend %zero-padding-margin;

	font-family: $work-sans-font;
	font-size: 11px;
}
