@use '../../scss/_variables' as *;
@use '../../scss/_mixins' as *;

.aboutCompany {
	width: 80%;
	font-family: $ubuntu-font;
}

.aboutCompany__title {
	font-size: 36px;
}

.aboutCompany__text_white {
	color: white;
}

.aboutCompany__textBlock {
	width: 600px;
}

.aboutCompany__paragraphBold {
	@extend %zero-padding-margin;

	font-size: 22px;
	font-weight: 500;
	line-height: 140%;
}

.aboutCompany__paragraphPadding {
	padding: 16px 0;
}

.aboutCompany__paragraph {
	@extend %zero-padding-margin;

	font-size: 20px;
	line-height: 140%;
}

.aboutCompany__container {
	margin-top: 52px;
	display: flex;
	column-gap: 28px;
}

.aboutCompany__block {
	border-radius: 16px;
	padding: 20px;
}

.aboutCompany__blockBigMargin {
	margin-top: 109px;
}

.aboutCompany__blockSmallMargin {
	margin-top: 29px;
}

.aboutCompany__forTwoBlocks {
	width: 261px;
}

.aboutCompany__greyBlock {
	width: 221px;
	height: 164px;
	background-color: $light-background-color;
}

.aboutCompany__imgBlock {
	margin-top: 24px;
	padding: 0;
	width: 261px;
	height: 174px;
	background-image: url('../../assets/images/healthy-young-woman.jpeg');
	background-size: cover;
}

.aboutCompany__greenBlock {
	width: 360px;
	height: 362px;
	background-color: $accent-color-darkgreen;
}

.aboutCompany__lightGreenBlock {
	margin-top: 80px;
	width: 347px;
	height: 279px;
	background-color: $accent-color-lightest-green;
}
