@use '@scss/_variables' as *;
@use '@scss/_mixins' as *;

.aboutCompany {
	width: 80%;
	font-family: $ubuntu-font;

	@media screen and (width <= 768px) {
		width: calc(100% - 20px * 2);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.aboutCompany__intro {
	@media screen and (width <= 768px) {
		max-width: 400px;
	}
}

.aboutCompany__title {
	font-size: 36px;

	@media screen and (width <= 768px) {
		font-size: 24px;
	}
}

.aboutCompany__text_white {
	color: white;
}

.aboutCompany__textBlock {
	max-width: 600px;
}

.aboutCompany__paragraphBold {
	@extend %zero-padding-margin;

	font-size: 22px;
	font-weight: 500;
	line-height: 140%;

	@media screen and (width <= 768px) {
		font-size: 14px;
	}
}

.aboutCompany__paragraphPadding {
	padding: 16px 0;

	@media screen and (width <= 768px) {
		padding: 8px 0;
	}
}

.aboutCompany__paragraph {
	@extend %zero-padding-margin;

	font-size: 20px;
	line-height: 140%;

	@media screen and (width <= 768px) {
		font-size: 12px;
	}
}

.aboutCompany__container {
	margin-top: 52px;
	display: flex;
	column-gap: 28px;

	@media screen and (width <= 1200px) {
		max-height: max-content;
	}

	@media screen and (width <= 768px) {
		box-sizing: border-box;
		flex-direction: column;
		gap: 4px;
		margin-top: 20px;
	}
}

.aboutCompany__block {
	border-radius: 16px;
	padding: 20px;
}

.aboutCompany__blockBigMargin {
	margin-top: 85px;

	@media screen and (width <= 768px) {
		margin-top: 4px;
	}
}

.aboutCompany__blockSmallMargin {
	margin-top: 29px;

	@media screen and (width <= 768px) {
		margin-top: 4px;
	}
}

.aboutCompany__forTwoBlocks {
	display: flex;
	flex-direction: column;
	max-width: 261px;
	width: 100%;

	@media screen and (width <= 1200px) {
		max-height: max-content;
		height: 100%;
	}

	@media screen and (width <= 768px) {
		max-width: 400px;
		width: 100%;
		order: 1;
	}
}

.aboutCompany__greyBlock {
	max-width: 221px;
	max-height: 164px;
	background-color: $light-background-color;

	@media screen and (width <= 1200px) {
		max-height: 300px;
		height: 100%;
	}

	@media screen and (width <= 768px) {
		max-width: 400px;
	}
}

.aboutCompany__imgBlock {
	margin-top: 24px;
	padding: 0;
	max-width: 261px;
	height: 174px;
	width: 100%;
	background-image: url('@images/healthy-young-woman.jpeg');
	background-size: cover;
	background-position: center;

	@media screen and (width <= 1200px) {
		flex-grow: 1;
	}

	@media screen and (width <= 768px) {
		display: none;
	}
}

.aboutCompany__greenBlock {
	max-width: 360px;
	max-height: 362px;
	background-color: $accent-color-darkgreen;

	@media screen and (width <= 1200px) {
		max-height: max-content;
	}

	@media screen and (width <= 768px) {
		max-width: 400px;
		order: 3;
	}
}

.aboutCompany__lightGreenBlock {
	margin-top: 80px;
	max-width: 347px;
	max-height: 279px;
	background-color: $accent-color-lightest-green;

	@media screen and (width <= 1200px) {
		max-height: max-content;
	}

	@media screen and (width <= 768px) {
		max-width: 400px;
		order: 2;
		margin: 0;
	}
}
