/* stylelint-disable import-notation */
@use '@scss/_variables.scss' as *;
@use '@scss/base.scss' as *;

.header {
	position: relative;
	width: 100%;
	padding: 24px 0;
	box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 10%);
	z-index: 2;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 44px;
}

.header__button {
	all: unset;
}

.header__title {
	font-size: 34px;
	color: #293929;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.68px;
}
